@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

#social_media {
	display: flex;
	justify-content: left;
	gap: 20px;
	padding: 5px 0;

	& .soc_button {
		position: relative;
		border-radius: 50%;
		background: #404040;
		box-shadow: 2px 2px 10px black;
		z-index: 0;
		overflow: hidden;
	}

	> .soc_button .fa {
		padding: 5px;
		font-size: 25px;
		width: 25px;
		text-align: center;
		text-decoration: none;
		border-radius: 50%;
		color: white;
	}

	> .soc_button::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: -100%;
		border-radius: 50%;
		z-index: -1;
		transition: all 300ms;
	}

	> .soc_button:hover::before {
		transform: translateY(100%);
	}

	> .soc_button:active::before {
		opacity: 0.7;
	}

	> .youtube::before {
		background: radial-gradient(
			at 0% 0%,
			rgba(255, 0, 0, 1) 0%,
			rgb(92, 0, 0) 100%
		);
	}

	> .telegram::before {
		background: radial-gradient(
			at 0% 0%,
			rgb(0, 247, 255) 0%,
			rgb(0, 136, 255) 100%
		);
	}

	> .vk::before {
		background: radial-gradient(
			at 0% 0%,
			rgb(0, 179, 255) 0%,
			rgb(0, 85, 255) 100%
		);
	}
}

footer {
	background: rgb(220, 220, 220);
	color: black;
	padding-top: 15px;

	> .shell {
		margin-inline: 20px;
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: auto 150px auto;
		gap: 30px;

		.title {
			color: rgb(7, 94, 7);
			position: relative;
			margin: 0;
			margin-bottom: 15px;

			&::after {
				content: '';
				position: absolute;
				height: 3px;
				background: rgb(4, 97, 4);
				top: 23px;
				width: 80px;
				left: 40px;
				transform: translateX(-50%);
			}
		}

		> .links {
			display: flex;
			flex-direction: column;
			align-items: center;

			> ul {
				padding-left: 0px;
				list-style: none;
				display: flex;
				flex-direction: column;
				gap: 5px;
			}
		}

		> .about p {
			text-indent: 30px;
			text-align: justify;
			line-height: 1.5;
		}
	}

	> span {
		display: block;
		color: white;
		padding: 5px 0 5px 0;
		width: 100%;
		text-align: center;
		background-color: rgb(164, 163, 163);
	}

	& a:not(.fa) {
		display: block;
		width: fit-content;
		color: rgb(17, 102, 22);
		text-decoration: none;
		transition: all 0.3s;
	}

	& a:not(.fa):hover {
		color: black;
		text-decoration: underline;
		transform: translateX(10px);
	}

	& p,
	& ul {
		margin-top: 0;
		margin-bottom: 5px;
	}

	& address {
		display: flex;
		flex-direction: column;
		gap: 5px;

		> .icon-block {
			display: grid;
			grid-template-columns: 25px auto;

			> p {
				margin: 0;
			}

			> .tel-numbers {
				display: flex;
				flex-flow: column;
			}
		}
	}
}

@media (max-width: 1000px) {
	footer {
		> .shell {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, auto);
			grid-template-areas:
				'about about'
				'links contacts';
			gap: 20px;
			margin-inline: 30px;

			> .about {
				grid-area: about;
			}

			> .links {
				grid-area: links;
				align-items: start;
			}

			> .contacts {
				grid-area: contacts;
			}
		}
	}
}

@media (max-width: 720px) {
	footer {
		> .shell {
			display: grid;
			grid-template-rows: repeat(3, auto);
			grid-template-columns: 1fr;
			grid-template-areas: 'about' 'links' 'contacts';
			gap: 20px;
			margin-inline: 20px;
		}
	}
}
